.layout {
  min-height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 72px;
  padding: 0 28px;
  align-items: center;
  gap: 32px;
  background-color: #fff;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: 700;
  background-color: black;
  border-radius: 15%;
  padding: 0 10px;
  justify-self: center;
}

.menu {
  flex: 1;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 32px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}